@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/darcula.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<div id="code-area"></div>

<script>
    var startingCode = 
    `#include <iostream>

using namespace std;

int main()
{
    cout << "Hello world!\\n";
}`

    var editor = CodeMirror(document.getElementById('code-area'), {
        lineNumbers: true,
        value: startingCode,
        theme: 'darcula',
        mode: 'text/x-c++src',
        autoCloseBrackets: true,
        indentUnit: 4
    });

    function showCode()
    {        
        var text = editor.getValue();
        $.ajax({
            url: "/Home/ShowCode",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",  
            data: JSON.stringify(text),
            success: function (mydata) {
                $("#divResult").html(mydata);
            }
        })
    }
</script>

<button type="button" class="btn btn-success" onclick="showCode()">RUN</button> 

<br>

<!--<textarea id="divResult" rows="20" cols="50" readonly></textarea>-->
<div class="cmd">
    <textarea class="textarea" id="divResult" readonly></textarea>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
