@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/landing-page.css">
</head>


<div id="landing">
    <div class="main-text">
        <h1>Welcome to Green Programming!</h1>
        <h2>Join the green coding revolution.</h2>
        <form>
            <button class="sign-up-btn">Sign up!</button>
        </form>
    </div>
    
    <img src="/images/computer.png">
</div>
<div id="shape-split">

</div>
<div class="landing-second">
    <div class="text-left">
        <h2>
            Green programming is a new approach to software development that aims to create sustainable and environmentally-friendly solutions.
            As we face growing environmental challenges and climate change, it's becoming increasingly important to reduce the carbon footprint
            of our digital activities.
        </h2>
    </div>
    
    <img class="right-img" src="/images/moteris.png">
</div>
<div class="landing-second">
    <div class="text-right">
        <h2>
            By adopting green programming practices, we can create software that uses fewer resources, produces less waste,
            and reduces energy consumption. This can have a significant impact on the environment, as well as on our bottom line.
        </h2>
    </div>
        <img class="left-img" src="/images/vangogas.png">
    </div>
<div class="landing-second">
    <div class="text-left">
        <h2>
            Green programming is not only good for the planet, but it's also good for business. By creating sustainable and efficient software,
            we can reduce operating costs and improve performance, while also creating products that are more attractive to
            environmentally-conscious consumers.
        </h2>
    </div>
    <img class="right-img" src="/images/3deco.png">
</div>
<div id="landing-end">
    <div class="end-text">
        <h2>
            At our website, we are dedicated to promoting green programming practices and providing resources and tools to help developers create
            sustainable solutions. Join us in the movement towards a greener and more sustainable future through programming.
        </h2>
        <form>
            <button class="sign-up-btn">Sign up!</button>
        </form>
    </div>
    
    <img src="/images/papartis.jpeg">
</div>
