@{
    ViewData["Title"] = "Create User";
}

@model Account

<h2>Create User</h2>

<form asp-controller="Admin" asp-action="CreateUser" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Nickname" class="control-label"></label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div><br>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div><br>
    <div class="form-group">
        <label asp-for="Hash" class="control-label"></label>
        <input asp-for="Hash" class="form-control" />
        <span asp-validation-for="Hash" class="text-danger"></span>
    </div><br>
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <input asp-for="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div><br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Users" asp-controller="Admin" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}